/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;       /* allow the page to grow vertically */
  margin: 0;
  padding: 0;
  overflow-x: hidden;     /* no horizontal scroll */     
  width: 100%;
  box-sizing: border-box;
}


.slogan-container {
  font-size: 20px;
  position: absolute;       /* Allows manual positioning */
  top: 50%;                 /* Vertically center */
  left: 5%;                /* Adjust left spacing — tweak as needed */
  transform: translateY(-50%); /* Perfect vertical centering */
}
